{% extends 'user/home.html' %}



{% block Body %}
    {% if object_list %}
        <div class="container-fluid" style="padding: 10%;">
            <div class="card">
                <div class="card-header text-ligth" >
                    <strong class="card-title"><h1 class="text-center">Listado de Entendidades</h1></strong>
                </div>
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre de Entendidad</th>
                                <th>País</th>
                                <th>Tipo</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                {% for entidad in object_list %}
                                <tr>
                                    <td>{{ entidad.nombre }}</td>
                                    <td>{{ entidad.pais }}</td>
                                    <td>{{ entidad.tipo }}</td>
                                </tr>
                                {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock Body %}